package templates

templ HomePage() {
  <html>
    <head>
      <title>Metrix2</title>
    </head>
    <body>
      <h1>Metrix2</h1>
      <p>Welcome to Metrix2! Track your metrics with ease.</p>
    </body>
  </html>
}
